	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
		<button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
		<span class="sr-only">
		              Toggle navigation
		            </span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<div class="section" id="blog-title">
		<h1 class="h-title-container">
		<!--<span class="h-subtitle"> Bryan Moore's </span>--><a href="{{ site.baseurl }}"><span class="h-title">{{ site.title }}</span></a>
		</h1>
		</div>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
		{% for page in site.pages %}
          {% if page.title %}
		  <li>
			<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
		  </li>
          {% endif %}
        {% endfor %}
		</ul>
		</div>
		<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
		</nav>