---
layout: default
---

    <div class="container">
	<div class="row">
	<div class="post-outer">
      <div class="post-preview">
			<h2 class="post-home-title post-main-home-title">{{ page.title }}</h2>
			<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

			<div class="post-subtitle">
			{{ content }}</div>
			<div class="post-header-home post-meta">
			<span class="post-author vcard">

										  Posted by <i class="fa fa-user"></i>
			<span class="fn">
			Bryan Moore
			</span>
			</span>
			<span class="post-timestamp">
			<i class="fa fa-clock-o"></i>
			<abbr class="published" title="2014-04-06T02:27:00-07:00">
			Sunday, April 06, 2014
			</abbr>
			</span>
			</div>
			</div>
			</div>
		</div>
    </div>